body {
  margin: auto 0;
}

.principal-container {
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: repeat(3, 1fr);
  font-family: "Roboto", sans-serif;
  margin: auto 0;
  height: 100vh;
}
/* Estilo para items del header-cabecera */
header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 10vh;
  display: flex;
  background-color: #4d7470;
  justify-content: space-around;
}
img {
  width: 3rem;
  border-radius: 2em;
  align-self: center;
}
.user {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-basis: 40%;
}
h2 {
  color: white;

  font-size: 1rem;
  margin: 0;
}
h4 {
  margin: 0;
  color: white;
  font-size: 0.7rem;
}
i {
  color: white;
  align-self: center;
  font-size: 1em;
}
.fa {
  transform: scaleX(-1);
}
/* Estilo para items del main-messaging */
main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 65vh;
  background-size: cover;
  background-image: url(../images/fondo_translucido.png);
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.text-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-recuadros {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.recuadro-fecha {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 1em;
  align-self: center;
  color: rgb(104, 80, 104);
  font-size: 0.8em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-weight: bold;
}
.message {
  font-family: "Roboto", sans-serif;
  border-radius: 1em;
  background-color: white;
  padding: 0.3em;
  align-self: flex-end;
  margin: 0.6rem;
  text-align: right;
  color: #4d7470;
  display: flex;
}
.texto-message {
  padding-right: 1em;
  padding-left: 0.3em;
}
.recuadro-hora {
  font-size: 0.7em;
  color: #4d7470;
  align-self: flex-end;
}

.emoji-container {
  display: none;
  position: absolute;
  z-index: 1;
}
.emoji-list {
  display: flex;
  flex-wrap: 1;
  overflow: auto;
}

.recuadro-escribir {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-color: white;
  color: rgb(107, 86, 122);
  flex-basis: 50%;
  height: 1.2em;
  border-radius: 2em;
  resize: none;
  text-align: justify;
  font-size: 0.8em;
  padding: 0.6em;
  overflow: auto;
  margin-right: 1em;
}
.container-recuadros::-webkit-scrollbar {
  background-color: rgb(107, 86, 122);
  border-radius: 10px;
  width: 0.5em;
}
.container-recuadros::-webkit-scrollbar-thumb {
  background-color: rgb(162, 142, 177);
  border-radius: 10px;
  width: 0.5em;
}

.recuadro-escribir::-webkit-scrollbar {
  background-color: rgb(107, 86, 122);
  border-radius: 5px;
  width: 0.5em;
}
.recuadro-escribir::-webkit-scrollbar-thumb {
  background-color: rgb(162, 142, 177);
  border-radius: 5px;
  width: 0.5em;
}
.boton-emoji {
  border-color: transparent;
  background: inherit;
  font-size: 1.6em;
  color: rgb(204, 204, 204);
  padding-bottom: 0.2em;
}
.boton-enviar {
  background-color: #4d7470;
  border: 0;
  font-size: 1em;
  border-radius: 1em;
  color: white;
  margin-right: 0.5em;
  width: 2em;
  height: 2em;
}
#boton-micro {
  background-color: #4d7470;
  margin-right: 1rem;
  font-size: 1em;
  border-radius: 1em;
  color: white;
  width: 2em;
  height: 2em;
  border: 0;
}

audio {
  width: 200px;
  height: 25px;
  background-color: inherit;
  
}

/* Estilo para items del footer-keyboard */
footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #4d7470;
  height: 20vh;
}
.teclado {
  display: contents;
}
.area-emoji {
  display: none;
}
.letra-emoji {
  background: transparent !important;
  border: none !important;
  font-size: 1rem;
  margin: 0.3rem;
  padding: 0;
}
.icono-cara {
  color: rgb(107, 86, 122);
}

.letra {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border-style: solid;
  background-color: rgb(107, 86, 122);
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}
.tecla-funcion {
  border-radius: 5px;
  border-style: solid;
  background-color: rgb(107, 86, 122);
  color: white;
  width: 3rem;
  height: 1.5rem;
}

#space {
  margin-left: 1.5em;
  margin-right: 1.5em;
  width: 35vw;
  background-color: rgb(107, 86, 122);
  border-style: solid;
}
.tecla-funcion:hover,
.letra:hover,
#space:hover {
  background-color: rgb(105, 41, 81);
  transform: scale(1.2);
}

.clase-mayus {
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .principal-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    
  }
  .header-area {
    height: 10vh;
    justify-content: space-evenly;
  }
  main {
    height: 59vh;
  }
  .keyboard-area {
    height: 27vh;
    row-gap: 1em;
  }
  
  #space {
    width: 17rem;
    background-color: rgb(107, 86, 122);
    border-style: solid;
  }
  .letra {
    width: 2.3rem;
    transform: scaleY(1.4);
    background-color: rgb(107, 86, 122);
    border-style: solid;
    color: white;
  }
  .tecla-funcion {
    width: 5rem;
    transform: scaleY(1.4);
    background-color: rgb(107, 86, 122);
    border-style: solid;
    color: white;
  }
  i {
    font-size: 1.5em;
  }
  .letra-emoji {
    background: transparent !important;
    border: none !important;
    width: 2.5em;
    font-size: 1rem;
    transform: scale(1.5);
  }
  h2 {
    font-size: 1.2rem;
  }
}
