@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

main {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
  font-weight: bold;
}
.header-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  background-color: #173841;
  display: inline-flex;
}
img {
  width: 8vh;
  border-radius: 150px;
  margin: 1em;
}
h2 {
  color: white;
  margin: auto;
  font-size: 2em;
}
i {
  color: white;
  margin: auto;
  font-size: 1.5em;
}
.messaging-area {
  background-size: cover;
  background-image: url(../images/fondo_oscuro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 142vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.text-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  /* background-color: #2b2f30; */
  align-items: center;
}
.keyboard-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  background-color: #1d1e1f;
  align-items: center;
  row-gap: 0.3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

input.letra {
  font-family: "Roboto", sans-serif;
  width: 4em;
  height: 4em;
  font-weight: bold;
  border-radius: 5px;
  background-color: #3d3f42;
  color: white;
}
.recuadro-escribir {
  width: 30rem;
  height: 2.5rem;
  border-radius: 40px;
  background-color: #173841;
  border-color: #173841;
  resize: none;
  text-align: justify;
  font-size: 2em;
  padding: 0.5rem;
  color: white;
}

.emoji {
  border-radius: 2em;
  margin: 0.3em;
  font-size: 2em;
  background: inherit;
  inline-size: auto;
  height: 2em;
  border-color: transparent;
}
.tecla-funcion {
  width: 6em;
  height: 3.5rem;
  border-radius: 5px;
  background-color: #3d3f42;
  color: white;
}
#space {
  width: 25em;
  height: 3.5rem;
  background-color: #3d3f42;
}
.enviar {
  margin: 0.3em;
  background-color: #2522ca;
  border-color: #2522ca;
  font-size: 2.7em;
  border-radius: 1em;
  color: white;
  margin-left: 0.5em;
}

#fa {
  background-color: #127262;
  margin: 0.3em;
  font-size: 2em;
  border-radius: 2em;
  color: white;
  width: 2em;
  height: 2em;
  border-color: #127262;
}
#recuadro {
  align-self: flex-end;
}

#recuadro-fecha {
  background-color: #127262;
  border-radius: 8px;
  /*inline-size: fit-content;*/
  align-self: center;
  padding: 2px;
  color: white;
}
.message {
  border-radius: 10px;
  background-color: #127262;
  padding: 1em;
  align-self: flex-end;
  margin: 1rem;
  text-align: right;
  width: fit-content;
  color: white;
}
input.clase-mayus {
  font-family: "Roboto", sans-serif;
  width: 3em;
  height: 3em;
  font-weight: bold;
  /* font-size: 13px; */
  border-radius: 5px;
  background-color: #838588;
  color: white;
  text-transform: capitalize;
}
.tecla-funcion:hover, .letra:hover{
  background-color: rgb(37, 37, 92);
}