@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

main {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr;
  grid-template-rows: 4fr 0.5fr 2fr;
  height: 100vh;
  font-weight: bold;
}

.messaging-area {
  background-size: cover;
  background-image: url(../images/fondo_oscuro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 80vh;
  border: rgb(28, 0, 59) 2px solid;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  flex-direction: column;
}
.text-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  background-color: #2b2f30;
  align-items: center;
}
.keyboard-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  border: rgb(28, 0, 59) 2px solid;
  background-color: #2b2f30;
  justify-content: space-around;
  align-items: center;
}

input.letra {
  font-family: "Roboto", sans-serif;
  width: 3em;
  height: 3em;
  font-weight: bold;
  /* font-size: 13px; */
  border-radius: 5px;
  background-color: #838588;
  color: white;
}
.recuadro-escribir {
  width: 30rem;
  height: 2rem;
  border-radius: 20px;
  background-color: white;
  resize: none;
  text-align:justify;
  font-size: 1.3em;
}
/* .letra {
  background-color: #838588;
  color: white;
} */
.emoji {
  border-radius: 20px;
  margin: 13px;
  font-size: 1.4em;
  background-color: #2b2f30;
  inline-size: auto;
  height: 2em;
}
.tecla-funcion {
  width: 6em;
  height: 2rem;
}
#space {
  width: 20em;
  height: 2rem;
  background-color: #838588;
}
.enviar {
  margin: 8px;
  background-color: #2522ca;
  font-size: 1.5rem;
  border-radius: 20px;
  color: white;
}

.fa {
  background-color: #127262;
  margin: 8px;
  font-size: 1.2em;
  border-radius: 20px;
  color: white;
  width: 2em;
  height: 2em;
}
#recuadro {
  align-self: flex-end;
}

#recuadro-fecha {
  background-color: rgb(14, 66, 58);
  border-radius: 8px;
  /*inline-size: fit-content;*/
  align-self: center;
  padding: 2px;
  color: white;
}
.message {
  border-radius: 10px;
  background-color: rgb(14, 66, 58);
  padding: 10px;
  align-self: flex-end;
  margin: 5px;
  text-align: right;
  width: fit-content;
  color: white;
}
